html,
body,
pre,
code,
kbd,
samp {
    font-family: 'Press Start 2P', cursive;
}

.image-pixelated {
    image-rendering: pixelated;
    width: 20px;
    margin-bottom: 6px;
    margin-right: 4px;
}

.heart {
    margin-bottom: 15px!important;
}

#logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -17px;
    width: 100px;
    height: 100px;
    z-index: 999;
}

.nav-link {
    padding: 0.75rem 1rem;
}